.scoreBox{
	position: absolute;
	color: #E8DDCB;
}

#oScoreBox{
	margin:10% 0% 0% 76%;
	width: 120px;
	height: 120px;
	font-size: 120px;

}

#oScore{
	margin: .5% 0% 0% 75%;
}

#xScoreBox{
	margin: 10% 0% 0% 11%;
	width: 120px;
	height: 120px;
	font-size: 120px;
}

#xScore{
	margin: .5% 0% 0% 10%;
}


.score{
	font-size: 120px;
	text-decoration: underline;
	position:absolute;
	color: #E8DDCB;
}

.tile:hover{
	/*a blue color*/
	/*background-color:#263374;*/
	/*greenish color*/
	/*background-color: #036564;*/
	border-radius:50%;
}


#circle{
	position: absolute;
	width:670px;
	height:670px;
	border:3px dashed #E8DDCB;
	border-radius: 50%;
	margin: -5px 0px 0px 250px;

}
body{

	/*background-color: #0D0106;*/
	/*/kind of a purple color*/
	/*background-color: #240B36;*/
	background-color: #031634;
}
#tile_1{
	margin:0px 0px 0px -15px;
	

}
#tile_2{
	margin:0px 0px 0px 142px;
}
#tile_3{
	margin:0px 0px 0px 299px;
}
#tile_4{
	margin:152px 0px 0px 0px;
}
#tile_5{
	margin:152px 0px 0px 157px;
	
}
#tile_6{
	margin:152px 0px 0px 314px;
}
#tile_7{
	margin:304px 0px 0px 0px;
	
}
#tile_8{
	margin:304px 0px 0px 157px;
	
}
#tile_9{
	margin:304px 0px 0px 314px;
	
}
#backBoard{
	width: 475px;
	height: 475px;
	z-index: -1;
	margin: -15px 0px 0px 50px;
	/*background-color: #5A50C9;*/
	/*background-color: #912F56;*/
	/*a red color*/
	/*background-color: #A4031F;*/
	background-color: #033649;
	border-radius: 2%;

}


.tile{
	width: 115px;
	height: 130px;
	font-size: 100px;
	/*background-color: #FF331F;*/
	background-color: #0D090A;
	z-index: 2;
	border: 1px #E8DDCB solid;
	position: absolute;
	padding: 20px 0px 0px 35px;
	color:#E8DDCB;


}
#board{
	position:absolute;
	width: 453px;
	height: 450px; 
	margin: 50px 0px 0px 300px;
	z-index: 1;

}
#row1{
	margin:50px 0px 0px 70px;
}
#row2{
	margin: 55px 50px 0px 55px;
}
#row3{
	margin: 60px 0px 0px 55px;
}